.input {
  background-color: var(--color-layer);
  border: none;
  border-radius: 0.375rem;
  color: white;
  cursor: text;
  outline: none;
  padding: 0 0.75rem;
  width: fit-content;
}

.input[readonly] {
  cursor: default;
}

.input:not([readonly]):focus-visible {
  outline: 2px solid white;
}

.input.small {
  height: var(--button-height-small);
}

.input.medium {
  height: var(--button-height-medium);
}

.input.large {
  height: var(--button-height-large);
}
