.page {
  display: grid;
  gap: 1rem;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  grid-template-rows: min-content;
  min-height: 100vh;
  padding: 1rem;
}

.page header {
  display: flex;
  grid-column: 1 / -1;
  justify-content: space-between;
}

.main {
  display: grid;
  gap: inherit;
  grid-column: 2 / -1;
  grid-auto-rows: max-content;
  grid-template-columns: subgrid;
}

@media (max-width: 51rem) {
  .page {
    grid-template-columns: unset;
  }
}
