.post {
  background-color: var(--color-layer);
  border-radius: 0.625rem;
  display: grid;
  gap: 0.625rem;
  grid-auto-rows: max-content;
  height: fit-content;
  padding: 0.625rem;
}

.draggable {
  cursor: move;
}

.header {
  align-items: center;
  display: flex;
  gap: 0.625rem;
  justify-content: space-between;
}

.header > div {
  align-items: center;
  display: flex;
  gap: inherit;
}

.heading {
  font-size: 0.875rem;
  font-weight: 600;
  user-select: none;
}

.post footer {
  display: flex;
  gap: inherit;
  justify-content: space-between;
}

.post footer > div {
  display: flex;
  gap: inherit;
}
