.posts {
  align-items: start;
  display: grid;
  flex-grow: 1;
  gap: inherit;
  grid-auto-rows: max-content;
  grid-template-rows: masonry;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
}
