.posts {
  flex-grow: 1;
}

.feedbackPosts {
  display: grid;
  gap: inherit;
  grid-template-columns: 1fr;
}

@media (min-width: 816px) {
  .feedbackPosts {
    grid-template-columns: repeat(2, minmax(24rem, 1fr));
  }
  .feedbackPostsMain {
    grid-column: 2 / -1;
  }
}

@media (min-width: 1216px) {
  .feedbackPosts {
    grid-template-columns: repeat(3, minmax(24rem, 1fr));
  }
}

@media (min-width: 1616px) {
  .feedbackPosts {
    grid-template-columns: repeat(4, minmax(24rem, 1fr));
  }
}

@media (min-width: 2016px) {
  .feedbackPosts {
    grid-template-columns: repeat(5, minmax(24rem, 1fr));
  }
}

.feedbackPosts > aside {
  display: grid;
  gap: inherit;
  grid-auto-rows: max-content;
}


.feedbackPosts > aside :global(.groupCard) label {
  height: auto;
  justify-content: space-between;
  line-height: 1.5;
  padding: calc((2.5rem - 0.875rem * 1.5) / 2) 0.875rem;
  width: 100%;
}

.feedbackPosts > aside :global(.groupCard) .voteCount {
  opacity: 0.5;
  white-space: nowrap;
}

.feedbackPosts > aside :global(.groupCard) label:has(input:not([readonly]):checked) {
  background-color: var(--color-accent);
  color: var(--color-background);
  outline: none !important;
}

.comments {
  background-color: var(--color-layer-2);
  border-radius: 0.625rem;
  display: flex;
  flex-direction: column;
  gap: inherit;
  justify-content: flex-end;
  padding: 0.625rem;
}

.comments footer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.commentTextArea {
  background-color: var(--color-layer);
  border-radius: 0.625rem;
  padding: 0.625rem;
  width: 100%;
}
