.button {
  align-items: center;
  background-color: var(--color-layer);
  border-radius: 0.375rem;
  border: none;
  color: var(--color-foreground);
  display: flex;
  font-family: var(--font-geist-mono);
  font-size: 0.875rem;
  font-weight: 600;
  height: 2rem;
  justify-content: center;
  padding: 0 0.625rem;
  text-decoration: none;
  user-select: none;
  width: fit-content;
}

.button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.button:focus-visible {
  outline: 2px solid var(--color-foreground);
}

button.button {
  cursor: pointer;
}

button.button:hover {
  background-color: var(--color-layer-2);
  color: var(--color-accent);
}

.secondary {
  background-color: color-mix(
    in srgb,
    var(--color-foreground) 33%,
    transparent
  );
  color: var(--color-foreground);
}
