.root {
  align-items: center;
  background-color: var(--color-accent);
  border-radius: 1.25rem;
  color: var(--color-background);
  display: flex;
  font-weight: 700;
  height: 2.5rem;
  justify-content: center;
  text-transform: uppercase;
  user-select: none;
  width: 2.5rem;
}

.root.small {
  font-size: 0.875rem;
  height: 1.5rem;
  width: 1.5rem;
}

.root.medium {
  height: var(--button-height-small);
  width: var(--button-height-small);
}

.root.large {
  height: 2.5rem;
  width: 2.5rem;
}

.image {
  border-radius: 1.25rem;
  height: 2.5rem;
  width: 2.5rem;
}
