.main {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr;
  min-height: 100vh;
  padding: 1rem;
}

.posts {
  display: grid;
  gap: inherit;
  grid-auto-rows: max-content;
}
