.main {
  container-type: inline-size;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: max-content 1fr;
  min-height: 100vh;
  padding: 1rem;
  place-content: center stretch;
}

.presenceList {
  display: flex;
  gap: 0.5rem;
  grid-column: 1 / -1;
}

.main section {
  display: grid;
  gap: 1rem;
}

.form {
  display: grid;
  gap: 1rem;
  grid-auto-rows: min-content;
}

.postList {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sentimentInputs {
  display: grid;
  font-size: 0.875rem;
  font-weight: 500;
  gap: 0.5rem;
  grid-template-columns: 1fr 1fr;
}

.sentimentInputs input[type='radio'] {
  display: none;
}

.sentimentInputs label {
  align-items: center;
  background-color: var(--color-background-2);
  border-radius: 0.375rem;
  cursor: pointer;
  display: flex;
  height: 2rem;
  justify-content: center;
}

.sentimentInputs input[type='radio']:checked + label {
  background-color: white;
  color: black;
}

/* @container (width > 64rem) {
  .columns {
    grid-template-columns: 1fr 2fr;
  }

  .postList {
    grid-template-columns: 1fr 1fr;
  }
} */
