.post {
  background-color: var(--color-background-2);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.post header {
  padding: 0.875rem 0.875rem 0;
}

.author {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
}

.post textarea {
  background-color: transparent;
}

.post textarea:read-only {
  cursor: default;
}

.post footer {
  display: flex;
  gap: 0.5rem;
  padding: 0 0.5rem 0.5rem;
}
