.post {
  background-color: var(--color-layer);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
  padding: 0.75rem;
}

.author {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.5;
}

.post textarea {
  background-color: transparent;
}

.post textarea:focus-visible {
  outline: none;
}

.post textarea:read-only {
  cursor: default;
}

.post footer {
  display: flex;
  gap: inherit;
  justify-content: space-between;
}

.post footer > div {
  display: flex;
  gap: inherit;
}
