.textArea {
  background-color: transparent;
  border: none;
  border-radius: 0.5rem;
  color: white;
  line-height: 1.5;
  min-height: 3.75rem; /* 3 rows */
  padding: 0;
  resize: none;
}

.textArea:focus-visible {
  outline: none;
}

.textArea::placeholder {
  color: hsla(0, 0%, 100%, 0.5);
}

.textArea[readonly] {
  cursor: default;
}
