.textArea {
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: var(--color-foreground);
  line-height: 1.5;
  min-height: calc(1.25rem * 2);
  padding: 0;
  resize: none;
}

.textArea:focus-visible {
  outline: none;
}

.textArea::placeholder {
  color: color-mix(in oklch, var(--color-foreground) 50%, transparent);
}

.textArea[readonly] {
  cursor: unset;
}
